name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    timeout-minutes: 5

    steps:
      - name: Vérifier la version de Python
        run: python --version

      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Installer les dépendances
        run: pip install -r requirements.txt

      - name: Afficher l'environnement
        run: echo "ENV = $APP_ENV"

      - name: Sauver les résultats
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: . 
          
      - name: Lancer les tests
        run: pytest
